<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <img class="sidebar-nav-item" src="public/images/new-profile.jpg" alt="Profile Image">
      <a class="sidebar-nav-item" target="_blank" href="https://www.linkedin.com/in/alessandroarrichiello/">-> Linkedin</a>
      <a class="sidebar-nav-item" target="_blank" href="https://github.com/alezzandro">-> GitHub</a>
      <a class="sidebar-nav-item" target="_blank" href="https://twitter.com/alezzandro1986">-> Twitter</a>
      <a class="sidebar-nav-item" target="_blank" href="https://www.credly.com/users/alessandro-arrichiello/badges">-> Credly</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
